@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  background-image: url('./assets/ow.jpg');
  font-family: 'Montserrat';
  background-color: black;
}


